.news{
	width:90%;
	margin:0 auto;
	position:relative;
	}


.news h3{clear:both;color:#333;font-size:13px;line-height:18px;font-weight:400;text-align:left;text-indent:4px;padding-top:4px;}
.news p{clear:both;color:#aaa;font-size:11px;line-height:16px;text-align:left;padding:0 2px 0 4px;}
.list{
	width:68%;
	float:left;
	margin:47px 0 -60px 24px; /* 4.5日页面边距调整*/
	}
.listpage {margin:0 auto;clear: both;text-align: center;font-size:12px;}
.contain{display:block;
	margin:10px 28px;
	float:left;
	width:186px; /*4.15日宽带调整*/
	background-color:#f2f2f2;
	z-index:0;};

.video{
	float:left;
	position:relative;
	margin:0 auto;
	text-align:center;
	border:3px solid #333;
	z-index:2;
	}
.con{
	position:absolutely;
   	margin-top:-76px;margin-left:76px;
   	padding-bottom:40px;
   	z-index:6;
   	}
.veibo{float:left;width:27%;margin-top:10px;position:relative;}

/* 视频播放页新增样式 2.5日 */
.wrap{width:85%;margin:32px auto;position:relative;}
.play{float:left;width:74%;position:relative;margin:0 auto 40px;} /* 修改了视频播放窗口的宽度 3.31日 */
.play h2{font-size:16px;font-weight:400;}
.play a{float:right;position:relative;display:block;}
.play span{font-size:12px;color:#027dea;}
.table{float:left;width:26%;} /* 修改了视频列表的宽度 3.31日 */

.v_photo{margin:60px 0 0 44px;border-top:1px solid #c9c9c9;height:480px;overflow:auto;}
.v_photo a{display:block;margin:10px auto 30px;}
.v_photo h3{font-size:16px;font-weight:400;text-align:left;margin-top:-6px;}
.v_photo p{font-size:14px;text-align:left;text-indent:4px;margin-top:-24px;line-height:40px;}